$navigation__color: $color__text--dark;
$navigation__color--hover: #000;
$navigation__font-size: 18px;

.o-navigation {

}

.o-navigation__item {
  position: relative;
}
.o-navigation__icon {
  height: 32px;
  width: 32px;
  position: absolute;
  top: calc(50% - 18px);
  right: calc(50% + 30px);
  z-index: 5;
}
.o-navigation__link {
  padding-left: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-decoration: none;
  color: $navigation__color;
  font-size: $navigation__font-size;
  position: relative;
  z-index: 10;

  &:hover {
    color: $navigation__color--hover;
  }
}