$card--background-color: #f2f2f2;
$card--text-color: #073542;

$card__name--font-size: 20px;
$card__name--line-height: 20px;
$card__name--font-weight: 300;

$card__content--font-size: 15px;
$card__content--line-height: 20px;
$card__content--font-weight: 100;

.o-card {
  background-color: $card--background-color;
  border-radius: 18px;
  color: $card--text-color;
  padding: 20px 0;
  width: 260px;
  position: relative;
  left: 50px;
}

.o-card__name {
  color: inherit;
  font-size: $card__name--font-size;
  font-weight: $card__name--font-weight;
  line-height: $card__name--line-height;g
  padding-left: 26px;
  padding-right: 26px;
}

.o-card__media {
  background-color: white;
  border: solid 7px white;
  border-bottom-width: 30px;
  box-sizing: border-box;
  height: 190px;
  left: calc(50%);
  position: relative;
  transform: translateX(-50%);
  width: 290px;
  perspective: 1000px;
}

.o-card__shadow {
  position: relative;
  display: block;

  polygon {
    fill: #e6e6e6;
  }
}

.o-card__content {
  color: inherit;
  font-size: $card__content--font-size;
  font-weight: $card__content--font-weight;
  line-height: $card__content--line-height;
  padding-left: 26px;
  padding-right: 26px;
}