$card--background-color: #f2f2f2;
$card--text-color: #073542;

$card__name--font-size: 20px;
$card__name--line-height: 20px;
$card__name--font-weight: 300;

$card__content--font-size: 16px;
$card__content--line-height: 20px;
$card__content--font-weight: 300;

$card__placehold--line-height: 9px;
$card__placehold--padding: 10px;

$card__modifier--loading: "--loading";
$card__modifier--small: "--small";

.o-card {
  background-color: $card--background-color;
  border-radius: 22px;
  color: $card--text-color;
  padding: 25px 0;
  position: relative;
  margin: 0 40px;
  width: 260px;
}

.o-card--loading {
  @extend .o-card
}


.o-card--small {
  @extend .o-card
}

.o-card__name {
  color: inherit;
  font-size: $card__name--font-size;
  font-weight: $card__name--font-weight;
  line-height: $card__name--line-height;
  padding: 0 28px 4px;
  letter-spacing: 0.015em;
}

.o-card__name#{$card__modifier--loading} {
  @extend .o-card__name;

  display: block;
  height: 12px;
  margin: 4px 28px 8px;
  text-indent: -10000px;
  padding-top: 0;
  position: relative;
  white-space: nowrap;
  width: 55%;

  @include animated-background(#93A1A1, lighten(#93A1A1, 7));
}

.o-card__name--small {
  @extend .o-card__name;
}

.o-card__name#{$card__modifier--loading} {
  @extend .o-card__name;
}

.o-card__media {
  background-color: white;
  border: solid 7px white;
  border-bottom-width: 30px;
  box-sizing: border-box;
  height: 190px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  pointer-events: none;

  @include animated-background();

}

.o-card__media {
  @extend .o-card__media;

  height: 0;
  padding-top: 153px;
}

.o-card__media--small {
  @extend .o-card__media;
}

.o-card__media#{$card__modifier--loading} {
  @extend .o-card__media;
}

.o-card__shadow {
  position: relative;
  display: block;

  polygon {
    fill: #e6e6e6;
  }
}

.o-card__content {
  color: inherit;
  font-size: $card__content--font-size;
  font-weight: $card__content--font-weight;
  line-height: $card__content--line-height;
  letter-spacing: -0.005em;
  padding: 10px 28px 5px;
}

.o-card__content#{$card__modifier--loading} {
  @extend .o-card__content;

  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  text-indent: -10000px;
  position: relative;
  height: $card__placehold--line-height;
  margin: $card__placehold--line-height*2 28px 68px;
  display: block;

  @include animated-background(#93A1A1, lighten(#93A1A1, 7));

  &:before, &:after {
    background: inherit;
    content: "";
    display: block;
    height: inherit;
    left: 0;
    position: absolute;
    top: calc(100% + #{$card__placehold--padding});
    width: 100%;

    @include animated-background(#93A1A1, lighten(#93A1A1, 7));
  }

  &:after {
    top: calc(100% + #{$card__placehold--padding * 2 + $card__placehold--line-height});
    width: 70%;
  }
}

.o-card__content--small {
  @extend .o-card__content;
}