$card--background-color: #f2f2f2;
$card--text-color: #073542;

$card__name--font-size: 20px;
$card__name--line-height: 20px;
$card__name--font-weight: 300;

$card__content--font-size: 16px;
$card__content--line-height: 20px;
$card__content--font-weight: 300;

.o-card {
  background-color: $card--background-color;
  border-radius: 22px;
  color: $card--text-color;
  padding: 25px 0;
  position: relative;
  margin: 0 40px;
  width: 260px;
}

.o-card__name {
  color: inherit;
  font-size: $card__name--font-size;
  font-weight: $card__name--font-weight;
  line-height: $card__name--line-height;
  padding: 0 28px 4px;
  letter-spacing: 0.015em;
}

.o-card__media {
  background-color: white;
  border: solid 7px white;
  border-bottom-width: 30px;
  box-sizing: border-box;
  height: 190px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  pointer-events: none;

  @include animated-background();
}

.o-card__shadow {
  position: relative;
  display: block;

  polygon {
    fill: #e6e6e6;
  }
}

.o-card__content {
  color: inherit;
  font-size: $card__content--font-size;
  font-weight: $card__content--font-weight;
  line-height: $card__content--line-height;
  letter-spacing: -0.005em;
  padding: 10px 28px 5px;
}