.m-search {
  width: 100%;
  background-color: white;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: height 0.17s ease-out;
}

.m-search--focused {
  @extend .m-search;
  height: 54px;
}

.m-search__icon {
  position: absolute;
  height: 24px;
  pointer-events: none;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.m-search__icon--focused {
  @extend .m-search__icon;
  opacity: 0;
}


.m-search__field {
  border: none;
  text-align: center;
  flex-basis: 100%;
  font-size: 18px;
}

.m-search__field--focused {
  @extend .m-search__field;
}
.m-search__submit {
    visibility: hidden;
    position: absolute;
}