
/* Colours */
$color__accent--light: rgb(239, 232, 213);
$color__accent--dark: rgb(200, 176, 111);
$color__text--dark: rgb(7, 35, 42);
$color__document: rgb(255,255,255);

/* Box Model */
$base-gutter: 22px;