
$media-queries__breakpoint--small:  em-calc(640);
$media-queries__breakpoint--medium: em-calc(1024);
$media-queries__breakpoint--large:  em-calc(1440);
$media-queries__breakpoint--x-large: em-calc(1600);

$media-queries__range--small:   (0, $media-queries__breakpoint--small);
$media-queries__range--medium:  ($media-queries__breakpoint--small  + em-calc(1), $media-queries__breakpoint--medium);
$media-queries__range--large:   ($media-queries__breakpoint--medium + em-calc(1), $media-queries__breakpoint--large);
$media-queries__range--x-large:  ($media-queries__breakpoint--large  + em-calc(1), $media-queries__breakpoint--x-large);

// Media Queries
$media-queries__screen: "only screen" !default;
$media-queries__landscape: "#{$media-queries__screen} and (orientation: landscape)" !default;
$media-queries__portrait: "#{$media-queries__screen} and (orientation: portrait)" !default;

$media-queries__small-up: $media-queries__screen !default;
$media-queries__small-only: "#{$media-queries__screen} and (max-width: #{upper-bound($media-queries__range--small)})" !default;

$media-queries__medium-up: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--medium)})" !default;
$media-queries__medium-only: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--medium)}) and (max-width:#{upper-bound($media-queries__range--medium)})" !default;

$media-queries__large-up: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--large)})" !default;
$media-queries__large-only: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--large)}) and (max-width:#{upper-bound($media-queries__range--large)})" !default;

$media-queries__xlarge-up: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--x-large)})" !default;
$media-queries__xlarge-only: "#{$media-queries__screen} and (min-width:#{lower-bound($media-queries__range--x-large)}) and (max-width:#{upper-bound($media-queries__range--x-large)})" !default;


$media-queries__all:
	"small-up"		$media-queries__small-up,
    "small-only"	$media-queries__small-only,
    "medium-up"		$media-queries__medium-up,
    "medium-only"	$media-queries__medium-only,
    "large-up"		$media-queries__large-up,
	"large-only"	$media-queries__large-only,
    "xlarge-up"		$media-queries__xlarge-up,
    "xlarge-only"	$media-queries__xlarge-only,
    "screen"		$media-queries__screen,
    "portrait"		$media-queries__portrait,
    "landscape"	    $media-queries__landscape;

@mixin respond-to ($media, $specific-width: false) {
	@each $media_type in $media-queries__all {
		@if $media == nth($media_type, 1) {
			@media #{nth($media_type, 2)} {
				@content;
			}
		}
		@if $specific-width == true {
			@media only screen and (max-width: #{$media}px) {
				@content;
			}
		}
	}
}

@mixin responsive_property ($selector) {
	.#{$selector} {
		@content;
	}
	@each $media_type in $media-queries__all {
		@media #{nth($media_type, 2)} {
			.#{$selector}-#{nth($media_type,1)} {
				@content;
			}
		}
	}
}